<!DOCTYPE html>
<html>
<base href="http://localhost:3000">
  <head>
    <meta charset="utf-8">
    <title>Quan tri co so du lieu</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style type="text/css">
.container, .row{
  border: 1px solid #eee;
}
</style>
  </head>
  <body>
    <div class="container">
      <div class="row" style="background: #e1e1e1">
        <div class="col-sm-1">STT</div>
        <div class="col-sm-3">Tieu De</div>
        <div class="col-sm-3">Mo Ta</div>
        <div class="col-sm-2">Ngay Dang</div>
        <div class="col-sm-3">Hinh Anh</div>
      </div>
      <% mangTin.forEach((tin, index)=>{ %>
        <div class="row">
          <div class="col-sm-1"><%= index + 1 %></div>
          <div class="col-sm-3"><%= tin.title %></div>
          <div class="col-sm-2"><%= tin.date %></div>
          <div class="col-sm-3"><%= tin.desc %></div>
          <div class="col-sm-2">
            <img class="img img-responsive" src="<%= tin.image%>" width="250" height="100"/>
          </div>
          <div class="col-sm-1">
                    <a href="/admin/xoa/<%= index %>">Xoa</a>
                    <a href="/admin/sua/<%= index %>">Sua</a></div>
        </div>
      <% })%>
    </div>
  </body>
</html>
